# Table of Contents

-Import libraries and data

-Grouping and aggregating task work

-Export updated dataframe

# 1. Import Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 2. Import Data

In [2]:
# Remember project folder file path
path = r'C:\Users\rstev\Documents\03_22 Instacart Basket Analysis'

In [3]:
# Import merged dataframe
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_3.pkl'))

# 3. 4.8 Grouping and Aggregating Exercise

In [4]:
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,hour_order_placed,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most orders

## Steps 2-3.

In [5]:
# 2. Find the aggregated mean of the order_id column grouped by department_id
ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

3. The results from the entire dataframe include the full list from department_id, whereas in the subset, it only contained some of the items.

## Step 4

In [6]:
# 4. Creating loyalty flag using transform and loc functions
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
ords_prods_merged.head(15)

,order_id,user_id,order_number,orders_day_of_week,hour_order_placed,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22

In [8]:
# Create flag that assigns loyalty label
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [9]:
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [10]:
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
ords_prods_merged['loyalty_flag'].value_counts(dropna=False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [12]:
ords_prods_merged[['user_id', 'loyalty_flag', 'max_order']].head(60)

    user_id      loyalty_flag  max_order
0         1      New customer         10
1         1      New customer         10
2         1      New customer         10
3         1      New customer         10
4         1      New customer         10
5         1      New customer         10
6         1      New customer         10
7         1      New customer         10
8         1      New customer         10
9         1      New customer         10
10       15  Regular customer         22
11       15  Regular customer         22
12       15  Regular customer         22
13       15  Regular customer         22
14       15  Regular customer         22
15       19      New customer          9
16       19      New customer          9
17       19      New customer          9
18       21  Regular customer         33
19       31  Regular customer         20
20       31  Regular customer         20
21       43  Regular customer         11
22       43  Regular customer         11
23       52  Regular customer         27
24       52  Regular customer         27
25       52  Regular customer         27
26       52  Regular customer         27
27       52  Regular customer         27
28       52  Regular customer         27
29       52  Regular customer         27
30       52  Regular customer         27
31       52  Regular customer         27
32       52  Regular customer         27
33       52  Regular customer         27
34       52  Regular customer         27
35       52  Regular customer         27
36       52  Regular customer         27
37       67  Regular customer         24
38       67  Regular customer         24
39       67  Regular customer         24
40       67  Regular customer         24
41       67  Regular customer         24
42       67  Regular customer         24
43       67  Regular customer         24
44       67  Regular customer         24
45       67  Regular customer         24
46       67  Regular customer         24
47       67  Regular customer         24
48       67  Regular customer         24
49       67  Regular customer         24
50       67  Regular customer         24
51       67  Regular customer         24
52       67  Regular customer         24
53       67  Regular customer         24
54       67  Regular customer         24
55       67  Regular customer         24
56       81      New customer          7
57       81      New customer          7
58       82  Regular customer         19
59       82  Regular customer         19

## Step 5

In [16]:
# 5. Determine if product prices vary by loyalty
ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

Prices vary slightly by loyalty status but it seems the opposite of what you'd expect. New customers pay the highest price,
on average, then regular customers, then loyal pay the lowest.

## Step 6

In [14]:
# 6. Create a spending flag for each user based on average price across all orders
ords_prods_merged['average_spend'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [15]:
ords_prods_merged[['user_id', 'average_spend', 'prices']].head(60)

    user_id  average_spend  prices
0         1       6.367797     9.0
1         1       6.367797     9.0
2         1       6.367797     9.0
3         1       6.367797     9.0
4         1       6.367797     9.0
5         1       6.367797     9.0
6         1       6.367797     9.0
7         1       6.367797     9.0
8         1       6.367797     9.0
9         1       6.367797     9.0
10       15       3.980556     9.0
11       15       3.980556     9.0
12       15       3.980556     9.0
13       15       3.980556     9.0
14       15       3.980556     9.0
15       19       8.372059     9.0
16       19       8.372059     9.0
17       19       8.372059     9.0
18       21       7.012683     9.0
19       31       8.137793     9.0
20       31       8.137793     9.0
21       43       7.444898     9.0
22       43       7.444898     9.0
23       52       6.356287     9.0
24       52       6.356287     9.0
25       52       6.356287     9.0
26       52       6.356287     9.0
27       52       6.356287     9.0
28       52       6.356287     9.0
29       52       6.356287     9.0
30       52       6.356287     9.0
31       52       6.356287     9.0
32       52       6.356287     9.0
33       52       6.356287     9.0
34       52       6.356287     9.0
35       52       6.356287     9.0
36       52       6.356287     9.0
37       67       7.656790     9.0
38       67       7.656790     9.0
39       67       7.656790     9.0
40       67       7.656790     9.0
41       67       7.656790     9.0
42       67       7.656790     9.0
43       67       7.656790     9.0
44       67       7.656790     9.0
45       67       7.656790     9.0
46       67       7.656790     9.0
47       67       7.656790     9.0
48       67       7.656790     9.0
49       67       7.656790     9.0
50       67       7.656790     9.0
51       67       7.656790     9.0
52       67       7.656790     9.0
53       67       7.656790     9.0
54       67       7.656790     9.0
55       67       7.656790     9.0
56       81       8.165385     9.0
57       81       8.165385     9.0
58       82       6.441221     9.0
59       82       6.441221     9.0

In [18]:
ords_prods_merged.groupby('user_id').agg({'prices': ['mean', 'min', 'max']}).head(15)

           prices
             mean  min   max
user_id
1        6.367797  1.0  14.0
2        7.515897  1.3  14.8
3        8.197727  1.3  14.4
4        8.205556  1.4  14.6
5        9.189189  3.2  14.8
6        8.471429  1.8  19.6
7        7.466990  1.1  23.2
8        8.781633  1.1  14.4
9        7.607895  1.2  19.3
10       8.651049  1.0  24.2
11       8.328723  1.4  14.7
12       8.116216  1.1  14.6
13       8.708642  1.0  13.6
14       8.014286  1.1  23.0
15       3.980556  1.9   9.0

In [19]:
ords_prods_merged.loc[ords_prods_merged['average_spend'] < 10, 'spend_flag'] = 'Low spender'

In [20]:
ords_prods_merged.loc[ords_prods_merged['average_spend'] >= 10, 'spend_flag'] = 'High spender'

In [24]:
pd.options.display.max_rows = None

In [25]:
ords_prods_merged[['user_id', 'average_spend', 'spend_flag']].head(100)

    user_id  average_spend    spend_flag
0         1       6.367797   Low spender
1         1       6.367797   Low spender
2         1       6.367797   Low spender
3         1       6.367797   Low spender
4         1       6.367797   Low spender
5         1       6.367797   Low spender
6         1       6.367797   Low spender
7         1       6.367797   Low spender
8         1       6.367797   Low spender
9         1       6.367797   Low spender
10       15       3.980556   Low spender
11       15       3.980556   Low spender
12       15       3.980556   Low spender
13       15       3.980556   Low spender
14       15       3.980556   Low spender
15       19       8.372059   Low spender
16       19       8.372059   Low spender
17       19       8.372059   Low spender
18       21       7.012683   Low spender
19       31       8.137793   Low spender
20       31       8.137793   Low spender
21       43       7.444898   Low spender
22       43       7.444898   Low spender
23       52       6.356287   Low spender
24       52       6.356287   Low spender
25       52       6.356287   Low spender
26       52       6.356287   Low spender
27       52       6.356287   Low spender
28       52       6.356287   Low spender
29       52       6.356287   Low spender
30       52       6.356287   Low spender
31       52       6.356287   Low spender
32       52       6.356287   Low spender
33       52       6.356287   Low spender
34       52       6.356287   Low spender
35       52       6.356287   Low spender
36       52       6.356287   Low spender
37       67       7.656790   Low spender
38       67       7.656790   Low spender
39       67       7.656790   Low spender
40       67       7.656790   Low spender
41       67       7.656790   Low spender
42       67       7.656790   Low spender
43       67       7.656790   Low spender
44       67       7.656790   Low spender
45       67       7.656790   Low spender
46       67       7.656790   Low spender
47       67       7.656790   Low spender
48       67       7.656790   Low spender
49       67       7.656790   Low spender
50       67       7.656790   Low spender
51       67       7.656790   Low spender
52       67       7.656790   Low spender
53       67       7.656790   Low spender
54       67       7.656790   Low spender
55       67       7.656790   Low spender
56       81       8.165385   Low spender
57       81       8.165385   Low spender
58       82       6.441221   Low spender
59       82       6.441221   Low spender
60       82       6.441221   Low spender
61       82       6.441221   Low spender
62       82       6.441221   Low spender
63       82       6.441221   Low spender
64       82       6.441221   Low spender
65       82       6.441221   Low spender
66       82       6.441221   Low spender
67       98       8.028000   Low spender
68       98       8.028000   Low spender
69       98       8.028000   Low spender
70       98       8.028000   Low spender
71       98       8.028000   Low spender
72       98       8.028000   Low spender
73       98       8.028000   Low spender
74      109       5.850725   Low spender
75      120       9.385714   Low spender
76      120       9.385714   Low spender
77      185       7.715000   Low spender
78      195       7.149730   Low spender
79      195       7.149730   Low spender
80      195       7.149730   Low spender
81      195       7.149730   Low spender
82      195       7.149730   Low spender
83      195       7.149730   Low spender
84      195       7.149730   Low spender
85      195       7.149730   Low spender
86      195       7.149730   Low spender
87      195       7.149730   Low spender
88      195       7.149730   Low spender
89      195       7.149730   Low spender
90      222       6.862397   Low spender
91      222       6.862397   Low spender
92      290       7.285597   Low spender
93      290       7.285597   Low spender
94      331       7.705128   Low spender
95      360      10.006250  High spender
96      377       8.496552   Low spender
97      387       7.396610   Low spender
98      420       7.387805   Low spender
99      420       7.387805   Low spender

In [26]:
ords_prods_merged['spend_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spend_flag, dtype: int64

## Step 7

In [27]:
# 7. Create order frequency flag based on days_since_prior_order
ords_prods_merged.groupby('user_id').agg({'days_since_prior_order': ['median']}).head(15)

        days_since_prior_order
                        median
user_id
1                         20.5
2                         13.0
3                         10.0
4                         20.0
5                         11.0
6                          6.0
7                          9.0
8                         30.0
9                         30.0
10                        23.0
11                        14.0
12                        30.0
13                         7.0
14                        30.0
15                        10.0

In [28]:
ords_prods_merged['median_order_frequency'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [29]:
ords_prods_merged[['user_id', 'median_order_frequency', 'days_since_prior_order']].head(15)

    user_id  median_order_frequency  days_since_prior_order
0         1                    20.5                     NaN
1         1                    20.5                    15.0
2         1                    20.5                    21.0
3         1                    20.5                    29.0
4         1                    20.5                    28.0
5         1                    20.5                    19.0
6         1                    20.5                    20.0
7         1                    20.5                    14.0
8         1                    20.5                     0.0
9         1                    20.5                    30.0
10       15                    10.0                     7.0
11       15                    10.0                     8.0
12       15                    10.0                     7.0
13       15                    10.0                     7.0
14       15                    10.0                    14.0

In [30]:
ords_prods_merged.loc[ords_prods_merged['median_order_frequency'] > 20, 'order_freq_flag'] = 'Non-frequent customer'

In [31]:
ords_prods_merged.loc[(ords_prods_merged['median_order_frequency'] > 10) & (ords_prods_merged['median_order_frequency'] <= 20), 'order_freq_flag'] = 'Regular customer'

In [32]:
ords_prods_merged.loc[ords_prods_merged['median_order_frequency'] <=10, 'order_freq_flag'] = 'Frequent customer'

In [34]:
ords_prods_merged[['user_id', 'median_order_frequency', 'order_freq_flag']].head(100)

    user_id  median_order_frequency        order_freq_flag
0         1                    20.5  Non-frequent customer
1         1                    20.5  Non-frequent customer
2         1                    20.5  Non-frequent customer
3         1                    20.5  Non-frequent customer
4         1                    20.5  Non-frequent customer
5         1                    20.5  Non-frequent customer
6         1                    20.5  Non-frequent customer
7         1                    20.5  Non-frequent customer
8         1                    20.5  Non-frequent customer
9         1                    20.5  Non-frequent customer
10       15                    10.0      Frequent customer
11       15                    10.0      Frequent customer
12       15                    10.0      Frequent customer
13       15                    10.0      Frequent customer
14       15                    10.0      Frequent customer
15       19                     6.0      Frequent customer
16       19                     6.0      Frequent customer
17       19                     6.0      Frequent customer
18       21                     7.5      Frequent customer
19       31                     6.0      Frequent customer
20       31                     6.0      Frequent customer
21       43                    10.0      Frequent customer
22       43                    10.0      Frequent customer
23       52                     8.0      Frequent customer
24       52                     8.0      Frequent customer
25       52                     8.0      Frequent customer
26       52                     8.0      Frequent customer
27       52                     8.0      Frequent customer
28       52                     8.0      Frequent customer
29       52                     8.0      Frequent customer
30       52                     8.0      Frequent customer
31       52                     8.0      Frequent customer
32       52                     8.0      Frequent customer
33       52                     8.0      Frequent customer
34       52                     8.0      Frequent customer
35       52                     8.0      Frequent customer
36       52                     8.0      Frequent customer
37       67                     7.0      Frequent customer
38       67                     7.0      Frequent customer
39       67                     7.0      Frequent customer
40       67                     7.0      Frequent customer
41       67                     7.0      Frequent customer
42       67                     7.0      Frequent customer
43       67                     7.0      Frequent customer
44       67                     7.0      Frequent customer
45       67                     7.0      Frequent customer
46       67                     7.0      Frequent customer
47       67                     7.0      Frequent customer
48       67                     7.0      Frequent customer
49       67                     7.0      Frequent customer
50       67                     7.0      Frequent customer
51       67                     7.0      Frequent customer
52       67                     7.0      Frequent customer
53       67                     7.0      Frequent customer
54       67                     7.0      Frequent customer
55       67                     7.0      Frequent customer
56       81                    30.0  Non-frequent customer
57       81                    30.0  Non-frequent customer
58       82                    11.5       Regular customer
59       82                    11.5       Regular customer
60       82                    11.5       Regular customer
61       82                    11.5       Regular customer
62       82                    11.5       Regular customer
63       82                    11.5       Regular customer
64       82                    11.5       Regular customer
65       82                    11.5       Regular customer
66       82                    11.5       Regular customer
67       98                    25.0  Non-frequent customer
68       98                    25.0  Non-frequent customer
69       98                    25.0  Non-frequent customer
70       98                    25.0  Non-frequent customer
71       98                    25.0  Non-frequent customer
72       98                    25.0  Non-frequent customer
73       98                    25.0  Non-frequent customer
74      109                    26.0  Non-frequent customer
75      120                    19.0       Regular customer
76      120                    19.0       Regular customer
77      185                    25.0  Non-frequent customer
78      195                     4.0      Frequent customer
79      195                     4.0      Frequent customer
80      195                     4.0      Frequent customer
81      195                     4.0      Frequent customer
82      195                     4.0      Frequent customer
83      195                     4.0      Frequent customer
84      195                     4.0      Frequent customer
85      195                     4.0      Frequent customer
86      195                     4.0      Frequent customer
87      195                     4.0      Frequent customer
88      195                     4.0      Frequent customer
89      195                     4.0      Frequent customer
90      222                     5.0      Frequent customer
91      222                     5.0      Frequent customer
92      290                     7.0      Frequent customer
93      290                     7.0      Frequent customer
94      331                    30.0  Non-frequent customer
95      360                     4.0      Frequent customer
96      377                    16.5       Regular customer
97      387                     8.0      Frequent customer
98      420                     7.0      Frequent customer
99      420                     7.0      Frequent customer

In [35]:
# Export
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_4.pkl'))